<h3>{{ attrs.title }}</h3>
<ul>
    {{#each attrs.alerts as |alert|}}
        <li>
            {{#link-to "checkout" alert.id}}
                {{ alert.username }}: {{alert.text}}
            {{/link-to}}
        </li>
    {{/each}}
</ul>
